<div class="center-container">
  <h1>
    <span class="fire">R</span><span class="burn">I</span
    ><span class="burn">N</span><span class="fire">G </span>
    <span class="fire">o</span><span class="burn">f </span>
    <span class="fire">F</span><span class="burn">I</span
    ><span class="burn">R</span><span class="fire">E</span>
  </h1>
  <div id="main-container">
    <img id="img" src="assets/img/fire-circle.jpg" alt="" />
    <button (click)="newGame()" id="fire-button">
      START <br />
      GAME
    </button>
  </div>
</div>
