#game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/img/flamme.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .card-stack {
    position: relative;
    width: 25rem;
    height: 35rem;

    img {
      position: absolute;
      width: 16rem;
      height: 24rem;
      border-radius: 1.5rem;
      border: 0.1rem solid rgba(245, 163, 10, 0.15);
      cursor: pointer;
      z-index: 3;
    }
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-1rem);
  }
}

.played-card {
  right: 2.5rem;
  transform: scale(1) translateX(-20rem) translateY(-20rem) rotate(10deg);
}

.pick-card {
  transition: all 125ms ease-in-out;
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1) translateX(-20rem) translateY(-20rem) rotate(10deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.7);
  }
  60% {
    transform: scale(1.7);
  }
  100% {
    transform: scale(1) translateX(-20rem) translateY(-20rem) rotate(10deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
}

.btn-add {
  position: absolute;
  right: 3.2rem;
  bottom: 4rem;
}

.pin-bottom {
  position: absolute;
  bottom: 3rem;
  left: 12rem;
  right: 12rem;
}

.my-class {
  background-color: rgb(126, 126, 123);
}

@media only screen and (max-width: 920px) {
  .btn-add {
    position: absolute;
    left: 5rem;
    bottom: 13rem;
  }

  .pin-bottom {
    position: absolute;
    bottom: 3rem;
    left: 5rem;
    right: 5rem;
  }
}

@media only screen and (max-width: 740px) {
  .btn-add {
    position: absolute;
    left: 5rem;
    bottom: 15rem;
  }
  .card-stack {
    position: absolute;
    left: -20rem;
    top: 3rem;
    width: 25rem;
    height: 35rem;

    .played-card,
    .pick-card {
      left: 29rem;
      top: -9rem;
    }
  }
}

@media only screen and (max-width: 550px) {
  .card-stack {
    position: absolute;
    left: -15rem;
    top: 3rem;
    width: 25rem;
    height: 35rem;

    .played-card,
    .pick-card {
      left: 29rem;
      top: -9rem;
    }
  }

  .btn-add {
    position: absolute;
    left: 5rem;
    bottom: 20rem;
  }
}

@media only screen and (max-width: 420px) {
  .btn-add {
    position: absolute;
    left: 5rem;
    bottom: 26rem;
  }
}
